A2program/Connected Services/WCFSlocal1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65266/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigurationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Energies" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LocalCommunication" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element minOccurs="0" name="NumberOfProcessors" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTasks" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessorRam" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoteCommunication" nillable="true" type="q4:ArrayOfdouble" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Runtimes" nillable="true" type="q5:ArrayOfdouble" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaskRam" nillable="true" type="q6:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationData" nillable="true" type="tns:ConfigurationData" />
</xs:schema>